<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- IMU Link and Joint-->
    <joint name="imu_joint" type="fixed">
        <parent link="mounting_plate_base"/>
        <child link="imu_sensor"/>
        <origin xyz="0 0 0.02"/>
    </joint>

    <link name="imu_sensor">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.015 0.005"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.015 0.005"/>
            </geometry>
        </collision>
    </link>

    <!-- IMU Angle Adjustment Link and Joint-->
    <joint name="imu_angle_adjustment_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_angle_adjustment"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="imu_angle_adjustment">
        
    </link>
    
</robot>